# Data Acquisition & Manipulation
kagglehub
pandas

# Machine Learning & Optimization
lightgbm
xgboost
catboost
optuna
flaml

# Deep Learning Frameworks
torch
torchvision

# Notebook Orchestration & Export
papermill
nbformat
nbconvert
ipywidgets